<div id="search_form">
  <%= form_for :search,
               url: restaurants_path,
               remote: true,
               method: :get,
               html: { class: "form-inline input-group" } do |f|%>
      <%= f.text_field(:query, value: params.dig(:search, :query), class: 'form-control') %>
    <div class="input-group-append">
    <%= f.submit 'Search', class:'btn btn-primary' %>
      <%= link_to("Clear", restaurants_path, class: 'btn btn-outline-secondary') %>
    </div>
  <% end %>
</div>

<br />
