<div id="search_form">
  <%= form_for :search,
               url: search_restaurants_path,
               remote: true,
               html: { class: "form-inline" } do |f|%>
    <div class="form-group mb-2">
      <%= label_tag(:rating, "Rate Restaurant", class: 'sr-only') %>
      <%= select_tag(:rating, options_for_select([1, 2, 3, 4, 5]), class: 'form-control') %>
    </div>
    <%= f.submit 'Rate', class:'btn btn-primary btn-sm' %>
  <% end %>
</div>
