<li class="list-group-item">
  <span><strong><%= working_hour.week_day %></strong></span>
  <span><%= formatted_time(working_hour.start_time)%></span> -
  <span><%= formatted_time(working_hour.end_time) %></span>
</li>
